<div>
    <h3 class="text-info">{{title}}</h3>
    <!--<p ng-bind-html="aboutMe |to_trusted"></p>-->
    <div>
        If you have a question I am available to help instantly. My contact details is as below:
        <br />
        <ul>
            <li><b>Mobile:</b>0432564591</li>
            <li><b>Email:</b>Zahra.Azad@Gmail.com</li>
        </ul> <br />You can also find me on social media, please click the links below to view my profile:
        <br />
        <a href="https://www.linkedin.com/in/zahra-azad-826791b3/"><img class="cartItem-image" ng-src="app/images/icons/linkedin.png" /></a>
        <img class="cartItem-image" ng-src="app/images/icons/seek.png" />
    </div>
</div>